.card {
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }

  &.card-disabled {
    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      content: " ";
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
