.page-box.last-box.background-p50-grey
  .sign-up-form
    .sign-up-form-title
      Resend confirmation instructions

    = form_with model: resource, as: resource_name, url: confirmation_path(resource_name), method: :post, local: true do |form|
      = render "forms/vertical/email_field", form: form, object: resource, key: :email

      .form-group.submit-btn-container
        = form.submit "Resend confirmation instructions", class: "btn btn-success btn-block"
