.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .pledge
    .pledge-header
      %h1= render "layouts/logo"
      .lead Recruitment for the study has closed. Thank you to everyone who participated!
