- @title = "Consent Revisions"

.page-box.last-box.background-p50-grey
  .consent
    %h1= @title

    %h2
      .float-right{ style: "font-weight: normal;" }
        = link_to "https://github.com/sleepepi/sleepinnovate.org/commit/85b79ffc9ff11335a26fda54a2c0f3e2ad3a874e", target: "_blank" do
          See changes
          %i.fa.fa-angle-right
      2018-02-08

    %ul
      %li MGH Site Principal Investigator Matt Bianchi replaced by Josna Adusumilli.
      %li Lottery gift card reduced from $100 down to $50.

    %h2 2017-09-11
    %ul
      %li.text-muted Initial IRB approved consent.
