.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    .landing-page-question.hidden-md-down
      %p.lead
        Have you ever wondered why sleep disorders affect some patients more than
        others?

    .jumbotron.jumbotron-white.text-center
      %h1.landing-title
        %i.fa.fa-puzzle-piece.boston-color
        %span.sleep-color Sleep
        %span.innovate-color> INNOVATE

      .landing-read-consent-box
        = link_to "read the consent form", consent_path

      .landing-button-bar
        - if false
          .landing-button= link_to "consent", consent_path, class: "btn btn-lg btn-outline-secondary"
        .landing-button= link_to "enroll", new_user_registration_path, class: "btn btn-lg btn-outline-success btn-shadow"


  .landing-learn-more-box
    = link_to about_path, class: "btn btn-lg btn-link" do
      learn more
      %i.fa.fa-caret-right
