.page-box.background-p50-grey

  - if current_user
    Go to
    = link_to "Dashboard", dashboard_path
  - else
    = render "devise/registrations/form", resource: User.new, resource_name: "user"

  .container{ style: "margin-top: 40px;" }
    .row
      .col
        .sleep-background.mx-auto{ style: "width: 25px; height: 25px;" }
      .col
        .innovate-background.mx-auto{ style: "width: 25px; height: 25px;" }
      .col
        .boston-background.mx-auto{ style: "width: 25px; height: 25px;" }

.page-box.last-slide{ style: "background-color: #cfd8dc;" }
  .container
    %h2
      Learn more about
      = ENV["website_name"]

    %p
      The
      = ENV["website_name"]
      project is
