.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    .landing-page-question.d-none.d-lg-block
      %p.lead
        Have you ever wondered why sleep disorders affect some patients more than
        others?

    .jumbotron.jumbotron-white.text-center
      %h1.landing-title
        = render "layouts/logo"

      .landing-button-bar
        .landing-button= link_to "get started", pledge_path, class: "btn btn-lg btn-outline-success btn-shadow"
