- @title = "Version"

.background-fixed-image
  .page-box.last-box.innovate-background.d-flex.align-items-center
    .container
      .text-center
        .page-heading.text-white{ style: "font-size: 2rem;" }= "v#{SleepInnovate::VERSION::STRING}"
