- @title = "Version"

.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .container
    %h1{ style: "color: #bdbdbd;font-weight: 300;" }= @title
    %p.lead
      Version
      %strong= SleepInnovate::VERSION::STRING
