%p{ style: p_style }
  You have consented to be part of the

  %span
    %span{ style: "color: #03a9f4;" }> Sleep
    %span{ style: "color: #5c6bc0;" } INNOVATE
  study.

%p{ style: p_style }
  Attached, you'll find a PDF of your signed consent.

%p{ style: p_style }
  If you have any questions about SleepINNOVATE or need technical support,
  please contact
  = mail_to "support@sleepinnovate.org", "support@sleepinnovate.org", style: link_style
  or Carolina Dos Santos at
  = succeed "." do
    = link_to "617-278-0746", "tel:617-278-0746", style: link_style

%p{ style: p_style }
  Thanks again,
%p{ style: p_style }
  The
  %span
    %span{ style: "color: #03a9f4;" }> Sleep
    %span{ style: "color: #5c6bc0;" } INNOVATE
  Team
