%p{ style: p_style }
  If you have any questions about this study or need technical support,
  please contact
  = mail_to "support@sleepinnovate.org", "support@sleepinnovate.org", style: link_style
  or Carolina Dos Santos at
  = succeed "." do
    = link_to "617-278-0746", "tel:617-278-0746", style: link_style
