.page-box.last-slide.background-p50-grey
  = render "devise/registrations/form"

  - if false
    .container{ style: "margin-top: 40px;" }
      .row
        .col
          .sleep-background.mx-auto{ style: "width: 25px; height: 25px;" }
        .col
          .innovate-background.mx-auto{ style: "width: 25px; height: 25px;" }
        .col
          .boston-background.mx-auto{ style: "width: 25px; height: 25px;" }
