.page-box.last-box.background-p50-grey

  .sign-up-form
    .sign-up-form-title
      Create your account
    = render "devise/registrations/form"

  .sign-up-form.text-center
    = link_to "I already have an account.", new_user_session_path

  .d-none.text-center
    = link_to landing_path, data: { object: "start-new-session" }, class: "btn btn-light btn-sm" do
      = icon("fas", "caret-left")
      Start new session

