%meta{ charset: "utf-8" }
%meta{ content: "IE=Edge,chrome=1", http: { equiv: "X-UA-Compatible" } }
%meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
%meta{ name: "description", content: "SleepINNOVATE project website." }
%meta{ name: "author", content: "Remo Mueller" }
%meta{ name: "keywords", content: "sleep innovate, sleep research" }
-# Don't cache any pages
%meta{ name: "turbolinks-cache-control", content: "no-cache" }
-# Prevent automatic telephone links on iOS Safari.
%meta{ name: "format-detection", content: "telephone=no" }
