%nav.nav.flex-column
  = link_to "Active", "#", class: "nav-link active", data: { object: "suppress-click" }
  = link_to "Link", "#", class: "nav-link", data: { object: "suppress-click" }
  = link_to "Link", "#", class: "nav-link", data: { object: "suppress-click" }
  = link_to "Disabled", "#", class: "nav-link disabled", data: { object: "suppress-click" }
