- @title = "Biobank"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    %h1{ style: "color: #bdbdbd;font-weight: 300;" }= @title

    = link_to "Biobank", "https://biobank.partners.org/"
