- @title = "My Consents"
.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    %h1= @title

    .row
      .col-lg-4.col-buffer
        .card{ style: "height: 100%;" }
          .card-block
            %h4.card-title SleepINNOVATE
            %p.card-text
              - if current_user.consented?
                You consented on
                = current_user.consented_at.strftime("%-m/%-d/%Y %-l:%M %p")

          .card-footer
            = link_to "View Consent", consent_path
            .pull-right
              = link_to "Leave Study", consent_path, method: :delete, data: { confirm: "Withdraw from SleepINNOVATE study?" }, class: "text-danger"
      .col-lg-4.col-buffer
        .card{ style: "height: 100%;" }
          .card-block
            %h4.card-title Test My Brain
            %p.card-text
              - if current_user.consented?
                You consented on
                =# current_user.consented_at.strftime("%-m/%-d/%Y %-l:%M %p")
                =# link_to "Download PDF", consent_path(format: "pdf")
                =# link_to "Revoke Consent", consent_path, method: :delete, data: { confirm: "Withdraw from SleepINNOVATE study?" }
      .col-lg-4.col-buffer
        .card{ style: "height: 100%;" }
          .card-block
            %h4.card-title Biobank
            %p.card-text
              - if current_user.consented?
                You consented on
                =# current_user.consented_at.strftime("%-m/%-d/%Y %-l:%M %p")
                =# link_to "Download PDF", consent_path(format: "pdf")
                =# link_to "Revoke Consent", consent_path, method: :delete, data: { confirm: "Withdraw from SleepINNOVATE study?" }
