- @title = "Parking Voucher"

.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .container
    .jumbotron.jumbotron-white
      .text-center.mb-3
        %h2
          %i.fa.fa-car
          Parking Voucher*
        %p.lead.text-muted
          Show this page to research staff to redeem your voucher.

      .card.ml-auto.mr-auto.mb-3{ style: "max-width: 400px;" }
        .card-body
          %table.table.table-striped.table-bordered.mb-0
            %col{ width: "1px" }
            %col
            %tr
              %th.text-right Subject
              %td= current_user.subject_code
            - if current_user.dob.present?
              %tr
                %th.text-right Birthday
                %td= current_user.dob.strftime("%B %-d")
            - if current_user.consented_at.present?
              %tr
                %th.text-right Consented
                %td= current_user.consented_at.strftime("%-m/%-d/%Y at %-l:%M %p")

      .text-muted.text-center
        %small * This is NOT an actual voucher. Voucher only available for in-clinic registrations.

  .text-center
    = link_to dashboard_path do
      %i.fa.fa-caret-left
      Back to Dashboard

