- @title = "Test My Brain"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    %h1{ style: "color: #bdbdbd;font-weight: 300;" }= @title

    = link_to "Test My Brain website", "#{ENV["test_my_brain_url"]}?id=#{current_user.subject_code}"
