.form-group.string-container{ class: @json.dig("errors", "base").present? ? "has-danger" : nil }
  = form.select :response, (@json.dig("variable", "domain_options") || []).collect { |doj| [doj["name"], doj["value"]] }, { include_blank: true, selected: response }, class: "form-control form-control-danger"
  = render "survey/decoration/errors"
  = render "survey/decoration/field_note"
