.survey-choices
  - (@json.dig("variable", "domain_options") || []).each do |domain_option_json|
    %label.survey-choice.box-shadow
      = form.radio_button "response", domain_option_json["value"], checked: domain_option_json["value"] == response
      = domain_option_json["name"]
= render "survey/decoration/field_note"
