.mr-0.ml-0.p-3.consent-administrative.small
  .row.mb-1
    .col-12.col-sm-4
      Protocol Title:
    .col-12.col-sm
      %strong Sleep INNOVATE Study
  .row.mb-1
    .col-12.col-sm-4
      Principal Investigator:
    .col-12.col-sm
      %strong Susan Redline, MD, MPH
  .row.mb-1
    .col-12.col-sm-4
      Site Principal Investigator:
    .col-12.col-sm
      %strong Susan Redline, MD, MPH
      %br
      %strong Rohit Budhiraja, MD - BWH Faulkner
      %br
      %strong Aleksandar Vilenovic, MD - MGH
      %br
      %strong James E. Mojica, MD - Spaulding
  .row.mb-1
    .col-12.col-sm-4
      Sponsor:
    .col-12.col-sm
      %strong
        National Heart, Lung, and Blood Institute (NHLBI) of the National
        Institutes of Health (NIH).
