%h2
  Why is this research study being done?

%p
  The Sleep INNOVATE study is paid for by the National Heart, Lung, and Blood
  Institute (NHLBI) of the National Institutes of Health (NIH). The study is led
  by Dr. Susan Redline from Brigham and Women's Hospital in Boston, MA. She and
  her staff are available to answer any questions you may have. Please email
  = mail_to "support@sleepinnovate.org"
  with any questions or call
  = succeed "." do
    = link_to "617-732-5859", "tel:617-732-5859"

%p
  The purpose of the Sleep INNOVATE study is to engage people with sleep
  disorders to share health information needed for research that will improve
  the health and well-being of adults with sleep disorders.

%p
  We hope to enroll at least 2,000 people into the Sleep INNOVATE study. We are
  asking you to take part in this research study because you have had a sleep
  study, are scheduled to have a sleep study, or have a diagnosis of a sleep
  disorder. You need to be 18 or older and have access to a computer or mobile
  device (smart phone) and read English to participate in this study.
