%h2
  How long will I take part in this research study?

%p
  We would like to keep track of your health status for at least 2 years, so we
  know how your health changes over time. Keeping in touch with you and checking
  on your health over many years is very important to help us look at the
  long-term effects of sleep disorders and treatments on health. We plan to do
  this by contacting you at least 1 to 3 times a year by email.
