%h2
  What will happen in this research study?

%h3
  Description of the study activity:

%p
  We will ask you to complete surveys about yourself and your health, general
  functioning and sleep habits. The surveys will ask about such things as
  whether and when you were diagnosed with a sleep disorder, treatments you have
  used, medical illnesses such as high blood pressure, and your energy level.
  The health surveys will take less than 30 minutes to complete for most people.
  In addition, we will ask you to take a 20 minute brain quiz to help us
  understand the relationship between sleep and brain functions. This quiz will
  ask you to pay attention to words or pictures on your computer screen and make
  responses using the keyboard and mouse.

%p
  Periodically, we will ask you to log onto the Sleep Innovate study website and
  complete a 15 minute health survey and another 20 minute brain quiz. We will
  ask you to do this approximately 3 months and every 6 to 12 months.

%p
  In addition, we are asking you to give us permission to access to your health
  information and save this information to a research database. The types of
  information we would like to collect are:

%ul
  %li
    Your sleep study data (summary sleep reports, the waveforms collected on the
    sleep study, CPAP adherence data) (if you have had a sleep study or use CPAP
    type devices).
  %li
    Your Partners Health electronic medical records (such as from Epic or
    Biobank Partners Commons). We would like to extract information on your
    health conditions, treatments, health behaviors, hospitalizations, and
    procedures, and laboratory results.

%p
  After accessing this information, we would remove "identifying information"
  such as name and date of birth, and extract relevant information related to
  sleep conditions.

%p
  After removing of all identifying information (name, date of birth, medical
  record numbers, dates of procedures, etc) we would like you to give us
  permission to have your sleep and health information deposited in a research
  repository so they can be analyzed by other researchers.

%p
  We are also asking you to enroll into the Partners Biobank if you have not
  already enrolled, or declined to enroll. We will give you more information
  about the Biobank after you decide to sign up for the Sleep Innovate study.
  You will sign a separate consent form to indicate your willingness to
  participate in the Partners Biobank.

%p
  The researchers will benefit from having these health data over many years to
  see how health changes over time. Information collected about you will be
  combined with information from other people who have joined the research
  study. When combining this information, your name and other personal
  information will not be used.

%h3
  We will send you reminder emails:

%p
  When there is a study activity that we want you to complete or consider, we
  will contact you. We plan to update your health status at period intervals
  such as after 3 months, 6 months, one year and approximately every year
  thereafter. We will contact you by email.
