%h3
  What are the risks and possible discomforts from being in this research study?

%p
  Although we will do our best to protect your study information, there is
  still a very small risk of loss of privacy. All study staff will be trained
  and certified in the ethical conduct of human subject research and how to keep
  all study information strictly confidential.

%p
  We do not expect there to be any risks to you from taking the surveys or brain
  quizzes. For questions that might make you feel uncomfortable, you have the
  option to skip that question or decline to respond. You are also free to end
  the survey or brain quiz at any time.

