%h2
  What are the possible benefits from being in this research study?

%p
  You will not obtain any direct health benefits from participating in the
  study. We will give you feedback on how you did when you finish some of the
  surveys and when you finish the brain quizzes. We also will introduce you to a
  sleep education website, MyApnea.org, where you can get more information on
  sleep disorders and participate in forums and blogs to learn from other
  patients and clinicians about sleep disorders.

%p
  We hope that your participation will help improve our understanding of sleep
  disorders and lead to improved treatments and diagnoses.
