%h2
  Can I still get medical care within Partners if I don't take part in this
  research study, or if I stop taking part?

%p
  Yes. Your decision won't change the medical care you get within Partners now
  or in the future. There will be no penalty, and you won't lose any benefits
  you receive now or have a right to receive.

%p
  Taking part in this research study is up to you. You can decide not to take
  part. If you decide to take part now, you can change your mind and drop out
  later. We will tell you if we learn new information that could make you change
  your mind about taking part in this research study.
