%h2
  What should I do if I want to stop taking part in the study?

%p
  If you take part in this research study, and want to drop out, you should tell
  us. We will make sure that you stop the study safely. We will also talk to you
  about follow-up care, if needed.

%p
  Also, it is possible that we will have to ask you to drop out of the study
  before you finish it. If this happens, we will tell you why. We will also help
  arrange other care for you, if needed.
