%h2
  Will I be paid to take part in this research study?

%p
  Participants will receive a parking voucher (worth up to $10) if you are
  recruited to join the study while you are at the clinic or sleep laboratory.
  When you complete each set of surveys and brain quizzes, you will be entered
  into a lottery to receive a $50 gift card. The lottery is drawn twice each
  quarter (that is, twice every 3 months).
