%h3
  What will I have to pay for if I take part in this research study?

%p
  Study funds will pay for certain study-related items and services. We may bill
  your health insurer for, among other things, routine items and services you
  would have received even if you did not take part in the research. You will be
  responsible for payment of any deductibles and co- payments required by your
  insurer for this routine care or other billed care. If you have any questions
  about costs to you that may result from taking part in the research, please
  speak with the study doctors and study staff. If necessary, we will arrange
  for you to speak with someone in Patient Financial Services about these costs.
