%h3
  What happens if I am injured as a result of taking part in this research
  study?

%p
  We will offer you the care needed to treat any injury that directly results
  from taking part in this research study. We reserve the right to bill your
  insurance company or other third parties, if appropriate, for the care you get
  for the injury. We will try to have these costs paid for, but you may be
  responsible for some of them. For example, if the care is billed to your
  insurer, you will be responsible for payment of any deductibles and
  co-payments required by your insurer.

%p
  Injuries sometimes happen in research even when no one is at fault. There are
  no plans to pay you or give you other compensation for an injury, should one
  occur. However, you are not giving up any of your legal rights by signing this
  form.

%p
  If you think you have been injured or have experienced a medical problem as a
  result of taking part in this research study, tell the person in charge of
  this study as soon as possible. The researcher's name and phone number are
  listed in the next section of this consent form.
