%h2
  Informed Consent and Authorization

%h3
  Statement of Person Giving Informed Consent and Authorization

%ul
  %li
    I have read this consent form.
  %li
    This research study has been explained to me, including risks and possible
    benefits (if any), other possible treatments or procedures, and other
    important things about the study.
  %li
    I have had the opportunity to ask questions.
  %li
    I understand the information given to me.

%h3
  Signature of Subject:

%p
  I give my consent to take part in this research study and agree to allow my
  health information to be used and shared as described above.
