.mt-5.mr-0.ml-0.p-3.consent-administrative.small
  .row
    .col-12.col-sm-4
      .mb-1.mb-sm-0
        Consent Form Title:
        %strong.breakword Consent_OnlineResearchForm_4.23.2019_Clean
      .mb-1.mb-sm-0
        IRB Protocol No:
        %strong 2017P001547
      .mb-1.mb-sm-0
        Consent Form Valid Date:
        %strong 7/24/2020
      .mb-1.mb-sm-0
        Consent Form Expiration Date:
        %strong 7/23/2021
    .col-12.col-sm-4.text-sm-center
      .mb-1.mb-sm-0
        Sponsor Protocol No:
        %strong Version: April 23, 2019
      .mb-1.mb-sm-0
        IRB Amendment No:
        %strong N/A
      .mb-1.mb-sm-0
        IRB Amendment Approval Date:
        %strong N/A
    .col-12.col-sm-4.text-sm-right
      .mb-1.mb-sm-0
        Sponsor Amendment No:
        %strong N/A
