%table{ style: "width: 100%;" }
  %col{ width: "300px" }
  %col
  %col
  %tr
    %td
      - if current_user.first_login?
        %small.text-muted Signature hidden for your privacy.
      - else
        = image_tag signature_path, style: "max-width: 100%; height: auto;"
    %td{ style: "vertical-align: bottom;" }= current_user.consented_at.strftime("%-m/%-d/%Y")
    %td.nowrap{ style: "vertical-align: bottom;" }= current_user.consented_at.strftime("%-l:%M %p")
  %tr
    %td
      %div{ style: "border-top: 1px solid #333;" }
        %strong Subject
    %td
      %div{ style: "border-top: 1px solid #333;" }
        %strong Date
    %td
      %div{ style: "border-top: 1px solid #333;" }
        %strong Time
