%p{ style: p_style }
  Congratulations and thank you for creating a
  = ENV["website_name"]
  Account. To get you
  started, we set a temporary password for your account:

%p{ style: p_style }
  %code
    %strong= @pw

%p{ style: p_style }
  Click the following link to complete the account registration process.
