.hours-box,
.minutes-box,
.seconds-box,
.month-box,
.day-box {
  input {
    &[type="text"] {
      min-width: 55px;
      width: 55px;
    }
  }
}

.year-box {
  input {
    &[type="text"] {
      min-width: 63px;
      width: 63px;
    }
  }
}
