.card{ style: "width: 20rem;" }
  .text-center{ style: "font-size: 6rem;" }
    %i.fa.fa-cube.text-muted
  .card-block
    %h4.card-title= title
    .progress
      .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #bdbdbd;", aria: { valuenow: "100", valuemin: "0", valuemax: "100" } } Coming soon...
    %p.card-text
      %div{ style: "color: #bdbdbd;" } We will notify you when new surveys are available.
