// Branding
$brand-white: #fff;
$brand-black: #333;
$brand-primary: $p500-indigo;
$link-color: $p500-light-blue;
$brand-success: $p500-teal;
$brand-warning: $p500-amber;

// Shadows and backdrops
$standard-shadow-color: rgba(0, 0, 0, .3);
$standard-shadow-hover-color: rgba(0, 0, 0, .2);
$box-shadow: 0 0 3px rgba(0, 0, 0, .5);
$box-shadow-color: rgba(0, 0, 0, .15);

$dashboard-bg: $brand-white;
