.card
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      = icon("fas", "check", class: "text-success")
    %h4.card-title
      Study Surveys
    .progress
      .progress-bar.progress-bar-striped.bg-success{ role: "progressbar", style: "width: 100%;", aria: { valuenow: "100", valuemin: "0", valuemax: "100" } }
    %p.card-text
      .card-information You have completed all study surveys!
