.card
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      = icon("fas", "trophy", class: "text-warning")
    %h4.card-title My Awards
    %p.card-text
      .card-information
        View how many lottery tickets you
        have earned by completing surveys.
    .text-center
      %p.card-text
        = link_to awards_path, class: "btn btn-outline-dark" do
          = icon("fas", "trophy")
          See my awards
