.card
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-trophy.text-warning
    %h4.card-title My Awards
    %p.card-text
      %div{ style: "color: #bdbdbd;" }
        View how many lottery tickets you
        have earned by completing surveys.
    .text-center
      %p.card-text
        = link_to awards_path, class: "btn btn-outline-secondary" do
          %i.fa.fa-trophy
          See my awards
