.card{ style: "height: 100%;" }
  .card-block
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-database.text-success
    %h4.card-title Join Biobank
    %p.card-text
      %div{ style: "color: #bdbdbd;" } ...
    .text-center
      %p.card-text
        = link_to biobank_path, class: "btn btn-secondary" do
          %i.fa.fa-envelope
          Get in touch
