.card{ class: current_user.highlight_biobank? ? "card-biobank-focus" : nil }
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      = icon("fas", "database", class: "text-primary")
    %h4.card-title Join Biobank
    .progress
      .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #ededed;", aria: { valuenow: "0", valuemin: "0", valuemax: "100" } }
    %p.card-text
      .card-information Join our partner, Biobank.
    .text-center
      %p.card-text
        = link_to biobank_start_path, method: :post, class: "btn btn-primary btn-shadow" do
          Go to Biobank
          = icon("fas", "caret-right")
