.card
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-database.text-primary
    %h4.card-title Join Biobank
    %p.card-text
      %div{ style: "color: #bdbdbd;" } Join our partner, Biobank.
    .text-center
      %p.card-text
        = link_to biobank_start_path, method: :post, class: "btn btn-primary btn-shadow" do
          Go to Biobank
          %i.fa.fa-caret-right
