.card{ class: current_user.highlight_biobank? ? "card-biobank-focus" : nil }
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      = icon("fas", "database", class: "text-primary")
    %h4.card-title Biobank
    .progress
      .progress-bar.progress-bar-striped.bg-primary{ role: "progressbar", style: "width: 50%;", aria: { valuenow: "50", valuemin: "0", valuemax: "100" } }
    %p.card-text
      .card-information Continue your Biobank registration!
    .text-center
      %p.card-text
        = link_to biobank_start_path, method: :post, class: "btn btn-primary btn-shadow" do
          Go to Biobank
          = icon("fas", "caret-right")
  .card-footer
    .overflow-hidden.nowrap.text-muted.small
      = link_to "I've completed Biobank registration.", biobank_complete_path, method: :post
