.card.card-disabled
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-lightbulb-o.text-primary
    %h4.card-title Biobank
    .progress
      .progress-bar.progress-bar-striped.bg-primary{ role: "progressbar", style: "width: 100%;background-color: #bdbdbd;", aria: { valuenow: "100", valuemin: "0", valuemax: "100" } } Available tomorrow
    %p.card-text
      %div{ style: "color: #bdbdbd;" } Biobank registration available soon.
