- if ENV["tmb_keyboard_enabled"] == "true"
  .d-flex.flex-row.align-items-center.mt-3
    .mr-3
      %i.fa.fa-keyboard-o.fa-2x
    .small
      %p.card-text
        Use the number keys in the top row above the keyboard letters, when completing brain quizzes on a computer.
