.card{ style: "height: 100%;" }
  .card-block
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-check.text-warning
    %h4.card-title Test My Brain
    .progress
      .progress-bar.progress-bar-striped.bg-warning{ role: "progressbar", style: "width: 100%;", aria: { valuenow: "100", valuemin: "0", valuemax: "100" } } 100%
    %p.card-text
      %div{ style: "color: #bdbdbd;" } Complete!
