.card.card-disabled
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-lightbulb-o.text-warning
    %h4.card-title Brain Quizzes
    .progress
      .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #bdbdbd;", aria: { valuenow: "100", valuemin: "0", valuemax: "100" } }
    %p.card-text
      %div{ style: "color: #777;" }
        We're putting finishing touches on the Brain Quizzes, they'll be
        available soon!
