.card
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-book.text-muted
    %h4.card-title Review Consents
    %p.card-text
      %div{ style: "color: #bdbdbd;" } View, print, or change your consents.
    .text-center
      %p.card-text
        = link_to settings_consents_path, class: "btn btn-outline-secondary" do
          %i.fa.fa-book
          See my consents
