.card
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      = icon("fas", "book", class: "text-muted")
    %h4.card-title Review Consents
    %p.card-text
      .card-information View, print, or change your consents.
    .text-center
      %p.card-text
        = link_to settings_consents_path, class: "btn btn-outline-dark" do
          = icon("fas", "book")
          See my consents
