.card
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      = icon("fas", "comments", class: "text-primary")
    %h4.card-title Contact Us
    %p.card-text
      .card-information Questions, need help?
    .text-center
      %p.card-text
        = link_to contact_path, class: "btn btn-outline-dark" do
          = icon("fas", "envelope")
          Get in touch
