.card
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-comments.text-primary
    %h4.card-title Contact Us
    %p.card-text
      %div{ style: "color: #bdbdbd;" } Questions, need help?
    .text-center
      %p.card-text
        = link_to contact_path, class: "btn btn-outline-dark" do
          %i.fa.fa-envelope
          Get in touch
