.card
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      = icon("fas", "tasks", class: "text-muted")
    %h4.card-title Surveys
    %p.card-text
      .card-information
        Study staff has not yet added baseline surveys to your account.
