.card.card-disabled
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      = icon("fas", "tasks", class: "text-success")
    %h4.card-title
      Surveys
    .progress
      .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #bdbdbd;", aria: { valuenow: "100", valuemin: "0", valuemax: "100" } }
    %p.card-text
      %div{ style: "color: #777;" }
        Surveys are currently unavailable.
