.card{ style: "height: 100%;" }
  .card-block
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-lightbulb-o.text-warning
    %h4.card-title Test My Brain
    %p.card-text
      %div{ style: "color: #bdbdbd;" } ...
    .text-center
      %p.card-text
        = link_to test_my_brain_path, class: "btn btn-secondary" do
          %i.fa.fa-arrow-left
          Test My Brain page
