.sleep-background {
  background-color: $p500-light-blue;
}

.innovate-background {
  background-color: $p400-indigo;
}

.boston-background {
  background-color: $p500-teal;
}

.background-p50-grey {
  background-color: $p50-grey;
}

.background-p100-grey {
  background-color: $p100-grey;
}
