html {
  min-height: 100%;
  position: relative;
}

body {
  &.full-page {
    margin-bottom: $footer-height;
  }

  &.full-page-no-header {
    margin-bottom: $footer-height;
  }

  &.full-page-no-header-no-footer {
    margin-bottom: 0;
  }
}

$p200-teal-rgba: rgba(128, 203, 196, .99);

::selection {
  background-color: $p200-teal-rgba;
  color: $p800-grey;
  text-shadow: none;
}

:focus {
  outline-color: $p200-teal !important;
}
