$brand-primary: $p100-indigo;
$brand-white: #fff;
$panel-bg: $p50-grey;
$panel-border: $p50-grey;
$standard-shadow-color: rgba(0, 0, 0, .3);
$box-shadow: 0 0 3px rgba(0, 0, 0, .5);

.sign-up-form {
  background-color: $brand-white;
  border: 1px solid $p100-grey;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 20px;
}

.sign-up-form-title {
  background-color: $p100-grey;
  font-size: 18px;
  margin: -20px -20px 20px;
  padding: 10px 20px;
  text-align: center;
}

@include media-breakpoint-up(sm) {
  .sign-up-form {
    overflow: hidden;
  }

  .sign-up-form-title {
    font-size: 24px;
  }
}

.submit-btn-container {
  margin: 20px 0 0;
}
