.landing-page-question {
  color: $p400-grey;
  text-align: center;
}

.landing-read-consent-box {
  margin-bottom: 20px;

  a {
    color: $p400-grey;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
      color: $p500-teal;
    }
  }
}

.landing-button-bar {
  display: flex;

  .landing-button {
    flex: 1 1;
    padding: 20px;
  }
}
