.table-sticky {
  position: relative;
  z-index: 1;

  th {
    background-color: $p50-grey;
    position: sticky;
    top: $header-height - 1px;
    z-index: $zindex-sticky;
  }

  .thead-inverse {
    th {
      background-color: $gray-900;
    }
  }
}

.table {
  &.table-borderless {
    td,
    th {
      border-width: 0;
    }
  }
}
