- @title = "Admin"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    %h1= @title

    %ul
      %li= link_to "Users", admin_users_path
      %li= link_to "Consent Report", admin_consented_path
