.footer-container
  .container
    .footer
      .nowrap
        &copy;
        = Time.zone.today.year
        = link_to "Boston Sleep", about_path
        .float-right{ style: "margin-top: -14px;" }
          = link_to "Questions?", contact_path
          &nbsp;
          = image_tag "logos/bwh-logo.png", size: "48x56"
